.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home__save-btn {
  width: 100%;
}

.home__container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
}

