.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 90%;
  position: relative;
  row-gap: 40px;
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-footer {
  display: flex;
  column-gap: 20px;
}

.modal-footer button {
  width: 100%;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-body {
  margin-top: 20px;
}

.modal-body__edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #d9dff6;
}

.modal-body__edit__content {
  width: 100%;
}

.modal-body__edit__content form {
  display: flex;
 flex-direction: column;
  row-gap: 5px;
  column-gap: 15px;
}

.modal-body__delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}